---
title: America's Funniest Videos &middot; Omar Jalalzada &middot; Digital Product Designer
---

=partial"partials/project_navigation", :locals => { :active_class => "afv active"}

%article.slide.slide_1
  .inner_slide_container
    .nexus_container
      .nexus_android_container.animate_fade_base.animate_fade_left
      .text.animate_fade_base.animate_fade_right.animate_seq_1
        %span
          “A relic of a bygone time.”,
        %span
          “The uncoolest show on TV.”
        %span
          “Inexplicably never-ending, like a Cher farewell tour.”  — 
        .nyt_logo



%article.slide.slide_2.cover_page_slide
  .inner_slide_container
    .cover_container
      %ul
        %li.first
          %span.c_1.header.animate_fade_base.animate_fade_right About the project:
          %span.body.animate_fade_base.animate_fade_right.animate_seq_1
            The No. 1 “family co-viewing” show on any broadcast network,
            %b America's Funniest Home Videos
            wanted to overhaul their existing Android application, increase engagement and drive more uploads.
        %li.second
          %span.c_2.header.animate_fade_base.animate_fade_right.animate_seq_1 My Role:
          %span.body.animate_fade_base.animate_fade_right.animate_seq_2
            As the lead product designer in the project, I worked with the Tigerspike team to strip down the app to its core functionalities and advocate for a better experience that will be enhanced incremintelly as the legacy systems at the back-end ramp up to a better standard. 

            
    
%article.slide.slide_3.three_circles_h_P.nope_its_two
  .inner_slide_container
    .slide_title_container
      %h3.slide_title
        The Process
    %ul
      %li.first_of_two
        %a.anchor_container.fancybox-thumb{"href"=>"images/afv/process/wireframes_guide.png",  "rel"=>"fancybox-thumb-afv-process", "title"=>"Wireframe" }
          .circle.c1.animate_fade_base.animate_fade_up
            .info_icon
              .inner_circle
                .dot
                .line
          .text_container
            .title.animate_fade_base.animate_fade_down Wireframes
            .text.animate_fade_base.animate_fade_down
              Through 
              %b research, interviews and workshops 
              we managed to distill the main feature set for the app. Utililzed paper and digital prototypes to test different ideas.
      %li
        %a.fancybox-thumb{"href"=>"images/afv/process/Wireframes_annotations.jpg",  "rel"=>"fancybox-thumb-afv-process", "title"=>"Annotated Wires" }
        %a.anchor_container.fancybox-thumb{"href"=>"images/afv/process/guideline_1.png",  "rel"=>"fancybox-thumb-afv-process", "title"=>"Wireframing Prototypes" }
          .circle.c2.animate_fade_base.animate_fade_up.animate_seq_1
            .info_icon
              .inner_circle
                .dot
                .line
          .text_container
            .title.animate_fade_base.animate_fade_down.animate_seq_1 App Guideline
            .text.animate_fade_base.animate_fade_down.animate_seq_2  
              Conducted in-person 
              %b interviews with subject matter experts 
              and users. It hepled us distill and analyze key themes and patterns to drive functionality.
        %a.fancybox-thumb{"href"=>"images/afv/process/guideline_2.png",  "rel"=>"fancybox-thumb-afv-process", "title"=>"Annotated Wires II" }
        %a.fancybox-thumb{"href"=>"images/afv/process/guideline_3.png",  "rel"=>"fancybox-thumb-afv-process", "title"=>"Annotated Wires II" }
        %a.fancybox-thumb{"href"=>"images/afv/process/pixel_aligned_icons.png",  "rel"=>"fancybox-thumb-afv-process", "title"=>"Pixel fitting fun" }
        %a.fancybox-thumb{"href"=>"images/afv/process/screen_specsheet.jpg",  "rel"=>"fancybox-thumb-afv-process", "title"=>"Specs Sheet & Dev Guidelines" }
      / %li
      /   %a.anchor_container.fancybox-thumb{"href"=>"images/sfmoma/process/guideline.png",  "rel"=>"fancybox-thumb-afv-process", "title"=>"Design Guidelines" }
      /     .circle.c3.animate_fade_base.animate_fade_up.animate_seq_2
      /       .info_icon
      /         .inner_circle
      /           .dot
      /           .line
      /     .text_container
      /       .title.animate_fade_base.animate_fade_down.animate_seq_2  design guidelines
      /       .text.animate_fade_base.animate_fade_down.animate_seq_3 
      /         Defined a clear path to product based on the 
      /         %b user-story 
      /         and for each individual story we iterated through 
      /         %b lo-fi wireframes.


%article.slide.slide_4.phone_mockups_4_in_a_row.android
  .inner_slide_container
    %ul
      %li
        .phone_container.animate_fade_base.animate_fade_up
          .screen.s1
      %li
        .phone_container.animate_fade_base.animate_fade_up.animate_seq_1
          .screen.s2
      %li
        .phone_container.animate_fade_base.animate_fade_up.animate_seq_2
          .screen.s3
          .text
      %li
        .phone_container.animate_fade_base.animate_fade_up.animate_seq_3
          .screen.s4

%article.slide.slide_5.phone_mockups_4_in_a_row.android
  .inner_slide_container
    %ul
      %li
        .phone_container.animate_fade_base.animate_fade_up
          .screen.s1
          .text
      %li
        .phone_container.animate_fade_base.animate_fade_up.animate_seq_1
          .screen.s2
          .text
      %li.landscape
        .phone_container.animate_fade_base.animate_fade_up.animate_seq_2
          .screen.s3
          .text
      %li.hide
        .phone_container.animate_fade_base.animate_fade_up.animate_seq_3
          .screen.s4
          .text


/ %article.slide.slide_6.cover_page_slide
/   .inner_slide_container
/     .cover_container
/       %ul
/         %li.first
/           %span.c_1.header.animate_fade_base.animate_fade_right Conclusion
/           %span.body.animate_fade_base.animate_fade_right.animate_seq_1
/             The design strategy 
/         %li.second
/           %span.c_2.header.animate_fade_base.animate_fade_right.animate_seq_1  Learnings & Footnotes:
/           %span.body.animate_fade_base.animate_fade_right.animate_seq_2
/             By conducting stakeholder 

/     .right_content_block
/       .image.animate_fade_base.animate_seq_2
/       .line.animate_fade_base.animate_fade_down