---
title: Arc. &middot; Omar Jalalzada &middot; Digital Product Designer
---

=partial"partials/project_navigation", :locals => { :active_class => "arc"}

%article.slide.slide_1
  .inner_slide_container
    .arc_main
      .arc_phone
      .arc_logo


%article.slide.slide_2.cover_page_slide
  .inner_slide_container
    .cover_container
      %ul
        %li.first
          %span.c_1.header.animate_fade_base.animate_fade_right
            %span.icon.project_icon
            %span.text About the project:
          %span.body.animate_fade_base.animate_fade_right.animate_seq_1
            The Innovation and Research group at
            %b Al Jazeera 
            wanted to challenge storytellers, developers, and designers to come up with the most innovative nonlinear storytelling application. 
        %li.second
          %span.c_2.header.animate_fade_base.animate_fade_right.animate_seq_2
            %span.icon.role_icon
            %span.text My Role:
          %span.body.animate_fade_base.animate_fade_right.animate_seq_3
            In response, I created Arc. Its built on the principle that each narrative should have complementary stories that focus entirely on the humans involved or impacted by the main narrative. Further, it enables nonlinear storytelling to interweave these stories and create a truly compelling read.
            %br
            %br
            We won the 
            %a{"href"=>"http://aljazeera.challengepost.com/updates/1966-announcing-the-winners-of-the-al-jazeera-innovation-challenge", "target"=>"_blank"}second prize.


            

%article.slide.slide_3.pdf_link_module_slide
  .inner_slide_container
    .slide_title_container.max_600
      %h3.slide_title
        What is Arc? 
        %span.sub_slide_title
          Product pitch keynote
    .pdf_link_module_container
      %a.pdf_link{"href"=>"assets/arc_preso/arc_keynote.html", "target"=>"_blank"}
        PDF LINK
      %a.pdf_sample.fancybox-thumb{"href"=>"images/arc/presentation/0_cover.png", "rel"=>"fancybox-pdf_arc_presentation", "title"=>"Arc's Presentation" }
        .info_icon
          .inner_circle
            .dot
            .line
      %a.fancybox-thumb{"href"=>"images/arc/presentation/1_problem.png", "rel"=>"fancybox-pdf_arc_presentation", "title"=>"The Problem" }
      %a.fancybox-thumb{"href"=>"images/arc/presentation/2_solution.png", "rel"=>"fancybox-pdf_arc_presentation", "title"=>"The Solution" }
      %a.fancybox-thumb{"href"=>"images/arc/presentation/4_infrastructure.png", "rel"=>"fancybox-pdf_arc_presentation", "title"=>"Arc's Infrastructure" }
      %a.fancybox-thumb{"href"=>"images/arc/presentation/5_infrastructure_explained.png", "rel"=>"fancybox-pdf_arc_presentation", "title"=>"Arc's Infrastructure Explained" }
      %a.fancybox-thumb{"href"=>"images/arc/presentation/6_mediums.png", "rel"=>"fancybox-pdf_arc_presentation", "title"=>"Mediums" }
      %a.fancybox-thumb{"href"=>"images/arc/presentation/8_story_structure.png", "rel"=>"fancybox-pdf_arc_presentation", "title"=>"Arc's Story Structure" }



%article.slide.slide_4.phone_mockups_4_in_a_row
  .inner_slide_container
    %ul
      %li
        .phone_container.animate_fade_base.animate_fade_up
          .screen.s1
      %li.contains_more_text
        .phone_container.animate_fade_base.animate_fade_up.animate_seq_1
          .screen.s2
          .text
            %p 
              Pinch anywhere on the homescreen for a more condensed view of the story feed.
            %ul
              %li
                Swipe left on an individual story to reveal bookmarking and the ability to share the story.
          .info_icon
            .inner_circle
              .dot
              .line
      %li.contains_more_text
        .phone_container.animate_fade_base.animate_fade_up.animate_seq_2
          .screen.s3
          .text
            %p 
              Press and hold anywhere in the app to access the navigation panel 
            %ul
              %li
                Removing bars and navigation buttons preserves more space for content.
              %li
                From here, the user can easily navigate to the home page, search field, profile page, *share, *bookmark and the *Reading Control Center.
              %li
                *(only on story page)
          .info_icon
            .inner_circle
              .dot
              .line
      %li.contains_more_text
        .phone_container.animate_fade_base.animate_fade_up.animate_seq_3
          .screen.s4
          .text
            %p 
              This will keep track of the user’s reading history and lets them access any bookmarked stories or notifications.
            %ul
              %li
                When a user creates a profile, their reading history can be tracked to enhance the logic of Compass cards. The more data we get, the smarter the suggestions will be. 
          .info_icon
            .inner_circle
              .dot
              .line

%article.slide.slide_5.phone_mockups_4_in_a_row
  .inner_slide_container
    %ul
      %li.contains_more_text
        .phone_container.animate_fade_base.animate_fade_up
          .screen.s1
          .text
            %p 
              All the components of the story housed in one cohesive narrative. 
            %ul
              %li
                Each story can contain any of the following: Social API component (Twitter, FB, Soundcloud, etc), image gallery component, interactive map, discussion board, etc
          .info_icon
            .inner_circle
              .dot
              .line
      %li.contains_more_text
        .phone_container.animate_fade_base.animate_fade_up.animate_seq_1
          .screen.s2
          .text
            %p 
              Lets the user customize the reading experience to their preference. The user can only access it from a Story view. 
            %ul
              %li
                The user can adjust screen brightness, pick a serif or sans serif font or resize it, pick a color themes and turn on tilt to scroll
          .info_icon
            .inner_circle
              .dot
              .line
      %li
        .phone_container.animate_fade_base.animate_fade_up.animate_seq_2
          .screen.s3
      %li
        .phone_container.animate_fade_base.animate_fade_up.animate_seq_3
          .screen.s4


%article.slide.slide_6.cover_page_slide
  .inner_slide_container
    .cover_container
      %ul
        %li.first
          %span.c_1.header.animate_fade_base.animate_fade_right
            %span.icon.conclusion_icon
            %span.text Conclusion
          %span.body.animate_fade_base.animate_fade_right.animate_seq_1
            Winning the hackathon was a good validation of my design process. Taking an extremely time sensitive project through all the steps in the process was challenging but definitely rewarding at the end. 
        %li.second
          %span.c_2.header.animate_fade_base.animate_fade_right.animate_seq_2
            %span.icon.learnings_icon
            %span.text Learnings & Footnotes:
          %span.body.animate_fade_base.animate_fade_right.animate_seq_3
            Its important to properly assess a side project and fully understand the amount of work it takes, from ideation to actual conception. We had difficulties allocating enough time for the project with all our prior engagements.
            %br
            %br
            Thanks to Hari Ananth, Lauren Willey and Justin Megahan for all their help. 





