---
title: Macys & Bloomindales &middot; Omar Jalalzada &middot; Digital Product Designer
---

=partial"partials/project_navigation", :locals => { :active_class => "macys"}

%article.slide.slide_1
  .inner_slide_container
    .iphone_container
      .iphone_bcom_container.animate_fade_base.animate_fade_up
      .logo.animate_fade_base.animate_fade_right.animate_seq_1

%article.slide.slide_2.cover_page_slide
  .inner_slide_container
    .cover_container
      %ul
        %li.first
          %span.c_1.header.animate_fade_base.animate_fade_right
            %span.icon.project_icon
            %span.text About the project:
          %span.body.animate_fade_base.animate_fade_right.animate_seq_1
            A three week design sprint to re-imagine key functionalities of 
            %b Macys & Bloomingdale’s 
            iPhone apps in a pre-purchase, in-store and post purchase scenarios. 
        %li.second
          %span.c_2.header.animate_fade_base.animate_fade_right.animate_seq_2
            %span.icon.role_icon
            %span.text My Role:
          %span.body.animate_fade_base.animate_fade_right.animate_seq_3
            As a product designer I worked with the Tigerspike team to explore a multitude of opportunities in the mobile retail context. Through user-testing and stakeholder interviews we designed user stories and delivered it through high-fidelity working prototypes. For this project, I mainly utilized Illustrator, Photoshop, Invision and HTML5, CSS3 with Middleman.

    .right_content_block
      .image.animate_fade_base.animate_seq_2
      .line.animate_fade_base.animate_fade_down


%article.slide.slide_3.three_circles_h_P
  .inner_slide_container
    .slide_title_container
      %h3.slide_title
        The Process
        / %span.sub_slide_title  From ideation to creation
    %ul
      %li
        %a.anchor_container.fancybox-thumb{"href"=>"/images/mcom_bcom/process/interview.png",  "rel"=>"fancybox-thumb-mcom", "title"=>"Stakeholder interviews" }
          .circle.c1.animate_fade_base.animate_fade_up
          .text_container.animate_fade_base.animate_fade_up.animate_seq_1
            .title Understand & Relate 
            .text
              Started by 
              %b empathizing with the end users 
              to effectively understand the context and the human side of the story.
              Researched most modern m-commerce solutions and 
              %b real-world retail experiences. 
      %a.anchor_container.fancybox-thumb{"href"=>"/images/mcom_bcom/process/whiteboard_notes.png",  "rel"=>"fancybox-thumb-mcom", "title"=>"Whiteboarding and off-site meeting notes" }
      %li
        %a.anchor_container.fancybox-thumb{"href"=>"/images/mcom_bcom/process/user_story_retail_research.png",  "rel"=>"fancybox-thumb-mcom", "title"=>"User Story and m-commerce research" }
          .circle.c2.animate_fade_base.animate_fade_up.animate_seq_1
            .info_icon
              .inner_circle
                .dot
                .line
          .text_container.animate_fade_base.animate_fade_down.animate_seq_2 
            .title Research & Analyze
            .text 
              Created 
              %b user-persona and user-story 
              work-flows by conducting in-person 
              %b interviews 
              with subject matter experts and current users. Managed to quickly distill and 
              %b analyze key themes 
              to drive select functionalities.
      %a.anchor_container.fancybox-thumb{"href"=>"/images/mcom_bcom/process/user_personas.png",  "rel"=>"fancybox-thumb-mcom", "title"=>"User personas" }
      %li
        %a.anchor_container.fancybox-thumb{"href"=>"/images/mcom_bcom/process/workshop_explain.png",  "rel"=>"fancybox-thumb-mcom", "title"=>"Educational workshops" }
          .circle.c3.animate_fade_base.animate_fade_up.animate_seq_3
          .text_container.animate_fade_base.animate_fade_down.animate_seq_3 
            .title  Prototype & Iterate
            .text
              Tested and iterated all ideas through 
              %b interactive mobile prototypes.
              We also hosted multiple
              %b educational workshops
              on modern mobile practices and design team structures. 
      %a.anchor_container.fancybox-thumb{"href"=>"/images/mcom_bcom/process/workshop.png",  "rel"=>"fancybox-thumb-mcom", "title"=>"Hands on exercises" }
      %a.anchor_container.fancybox-thumb{"href"=>"/images/mcom_bcom/process/sketches.png",  "rel"=>"fancybox-thumb-mcom", "title"=>"Sketching an idea for featuring PDP functionalities" }
      %a.anchor_container.fancybox-thumb{"href"=>"/images/mcom_bcom/process/sketches_2.png",  "rel"=>"fancybox-thumb-mcom", "title"=>"Sketching the color picker for PDP" }
      %a.anchor_container.fancybox-thumb{"href"=>"/images/mcom_bcom/process/iterations.png",  "rel"=>"fancybox-thumb-mcom", "title"=>"Gradual iterations" }



%article.slide.slide_4.phone_mockups_4_in_a_row
  .inner_slide_container
    %ul
      %li.contains_more_text
        .phone_container.animate_fade_base.animate_fade_up
          .screen.s1
          .text
            %p 
              A clutter free Home-screen with a clear eye path and a digestible overview
            %ul
              %li
                Full-screen advertising to allow a thematic experience
              %li
                One tap access to Search, Scan, Shop and other prioritized CTAs
              %li
                Personalized content based on the users bio and shopping preferences
          .info_icon
            .inner_circle
              .dot
              .line
      %li.contains_more_text
        .phone_container.animate_fade_base.animate_fade_up.animate_seq_1
          .screen.s2
          .text
            %p 
              A flat hierarchy that provides a more intuitive navigation
            %ul
              %li
                Breaks content into bite-size pieces to prevent disorientation
              %li
                Contextually aware content for a richer in-store experience

          .info_icon
            .inner_circle
              .dot
              .line
      %li
        .phone_container.animate_fade_base.animate_fade_up.animate_seq_2
          .screen.s3
          .text
      %li.contains_more_text
        .phone_container.animate_fade_base.animate_fade_up.animate_seq_3
          .screen.s4
          .text
            %p 
              Neatly organized Product Display Page with a focus on imagery and functional personalization
            %ul
              %li
                Incorporating a full-screen image gallery with embedded videos
              %li
                Elevating key information outside of accordions for easy access
              %li
                Indicating in-store availability and product suggestions
          .info_icon
            .inner_circle
              .dot
              .line

%article.slide.slide_5.phone_mockups_4_in_a_row
  .inner_slide_container
    %ul
      %li.contains_more_text
        .phone_container.animate_fade_base.animate_fade_up
          .screen.s1
          .text
            %p 
              The home screen introduces look-books, a more editorial approach to m-commerce. Highly personalized content keeps the user coming back to the app.
            %ul
              %li
                Search/scan is minimized in an editorial and look-book experience
              %li
                Each content block is a link to a campaign, look-book, PDP or editorial content item
              %li
                Use of large full screen visuals with color, depth, clarity, and visual detail
          .info_icon
            .inner_circle
              .dot
              .line
      %li
        .phone_container.animate_fade_base.animate_fade_up.animate_seq_1
          .screen.s2
          .text
      %li
        .phone_container.animate_fade_base.animate_fade_up.animate_seq_2
          .screen.s3
          .text
      %li
        .phone_container.animate_fade_base.animate_fade_up.animate_seq_3
          .screen.s4
          .text


%article.slide.slide_6.cover_page_slide
  .inner_slide_container
    .cover_container
      %ul
        %li.first
          %span.c_1.header.animate_fade_base.animate_fade_right
            %span.icon.conclusion_icon
            %span.text Conclusion
          %span.body.animate_fade_base.animate_fade_right.animate_seq_1
            The design strategy and prototypes was very well received by Macy's stakeholders and we were subsequently engaged into the next stage of the project. It also inspired an array of new functionalities within the product road-map for the next few releases. 
            
        %li.second
          %span.c_2.header.animate_fade_base.animate_fade_right.animate_seq_2
            %span.icon.learnings_icon
            %span.text Learnings & Footnotes:
          %span.body.animate_fade_base.animate_fade_right.animate_seq_3
            By conducting stakeholder interviews, additional line-items were identified for the project scope. Its very important to plan back-up resources for high profile projects to avoid any adjustments to the overall timeline.
            %br
            %br
            Thanks to Pauly Ting and his moppy hair-do for all his help.
