---
title: Moovweb &middot; Omar Jalalzada &middot; Digital Product Designer
---

=partial"partials/project_navigation", :locals => { :active_class => "moovweb"}

%article.slide.slide_1
  .inner_slide_container
    .moovweb_main
      .moovweb_macbook_mock
      .logo


%article.slide.slide_2.cover_page_slide
  .inner_slide_container
    .cover_container
      %ul
        %li.first
          %span.c_1.header.animate_fade_base.animate_fade_right About the project:
          %span.body.animate_fade_base.animate_fade_right.animate_seq_1
            I was the 7th employee at
            %b Moovweb
            for about 2.5 years. Being part of a rapidly growing startup that scaled to 120 employees and closed two successful rounds of investment was a humbling experience.
        %li.second
          %span.c_2.header.animate_fade_base.animate_fade_right.animate_seq_1 My Role:
          %span.body.animate_fade_base.animate_fade_right.animate_seq_2
            I wore many hats at Moovweb. Started off as a Mobile Web Developer but promoted to Lead Mobile Developer a year later. Soon after I was the Interactive Designer with the brand and marketing team which led me to the Creative Director role to take ownership of the brand. 


%article.slide.slide_3.pdf_link_module_slide
  .inner_slide_container
    .slide_title_container.max_600
      %h3.slide_title
        Moovweb Branding Guideline
        %span.sub_slide_title
          Establishing consistency and quality
      / %a.pdf_link_in_header{"href"=>"pdf_link"} PDF LINK
    .pdf_link_module_container
      %a.pdf_link{"href"=>"assets/moovweb_branding_guideline.pdf", "target"=>"_blank"}
        PDF LINK
      %a.pdf_sample.fancybox-thumb{"href"=>"images/moovweb/brand/colors.png", "rel"=>"fancybox-pdf_moovweb_branding_guide", "title"=>"Color Spectrum" }
        .info_icon
          .inner_circle
            .dot
            .line
      %a.fancybox-thumb{"href"=>"images/moovweb/brand/iconography.png", "rel"=>"fancybox-pdf_moovweb_branding_guide", "title"=>"Icons & Graphic Elements"}
      %a.fancybox-thumb{"href"=>"images/moovweb/brand/iconography_2.png", "rel"=>"fancybox-pdf_moovweb_branding_guide", "title"=>"Pixel Grid for Icons"}
      %a.fancybox-thumb{"href"=>"images/moovweb/brand/typography.png", "rel"=>"fancybox-pdf_moovweb_branding_guide", "title"=>"Typography & Headline Styles "}
      %a.fancybox-thumb{"href"=>"images/moovweb/brand/notifications.png", "rel"=>"fancybox-pdf_moovweb_branding_guide", "title"=>"Alert & Notification Boxes"}
      %a.fancybox-thumb{"href"=>"images/moovweb/brand/quote.png", "rel"=>"fancybox-pdf_moovweb_branding_guide", "title"=>"Blockquoutes"}
      %a.fancybox-thumb{"href"=>"images/moovweb/brand/tshirts.png", "rel"=>"fancybox-pdf_moovweb_branding_guide", "title"=>"Various T-shirt Designs"}
      %a.fancybox-thumb{"href"=>"images/moovweb/brand/photography.png", "rel"=>"fancybox-pdf_moovweb_branding_guide", "title"=>"Photography Sample"}
      %a.fancybox-thumb{"href"=>"images/moovweb/brand/photography_v2.jpg", "rel"=>"fancybox-pdf_moovweb_branding_guide", "title"=>"Photography Sample cont."}

    / %a.pdf_link_module{"href"=>"assets/moovweb_branding_guideline.pdf", "target"=>"_blank"}
    /   .info_icon
    /     .inner_circle
    /       .dot
    /       .line



%article.slide.slide_4

  .inner_slide_container
    .slide_title_container.max_600
      %h3.slide_title
        Web & Mobile Design
        %span.sub_slide_title Different projects from across the board

    .main_browser_display
      .browser_fake_controls
      .info_icon
        .inner_circle
          .dot
          .line
      %a.browser.fancybox-thumb{"href"=>"images/moovweb/corp_site/main_corp_site.png",  "rel"=>"fancybox-moovweb-corp-site", "title"=>"Corporate Site's Homepage" }
      %a.fancybox-thumb{"href"=>"images/moovweb/corp_site/pricing.jpg", "rel"=>"fancybox-moovweb-corp-site", "title"=>"Pricing verticals" }
      %a.fancybox-thumb{"href"=>"images/moovweb/corp_site/case_studies.jpg",  "rel"=>"fancybox-moovweb-corp-site", "title"=>"Individual project showcases" }
      %a.fancybox-thumb{"href"=>"images/moovweb/corp_site/partners.jpg",  "rel"=>"fancybox-moovweb-corp-site", "title"=>"Platform partner's page" }
      %a.fancybox-thumb{"href"=>"images/moovweb/corp_site/product_page.jpg",  "rel"=>"fancybox-moovweb-corp-site", "title"=>"Product Overview" }
      %a.fancybox-thumb{"href"=>"images/moovweb/corp_site/blog_0.jpg",  "rel"=>"fancybox-moovweb-corp-site", "title"=>"Blog's article feed" }
      %a.fancybox-thumb{"href"=>"images/moovweb/corp_site/blog.jpg",  "rel"=>"fancybox-moovweb-corp-site", "title"=>"Individual blog post" }


%article.slide.slide_5
  .inner_slide_container 
    .slide_title_container.max_600
      %h3.slide_title
        Harlem Shake Bookmarklet
        %span.sub_slide_title
          When Harlem Shake was a thing, a co-worker and I built the bookmarklet as a Valentine gift for Moovweb's blog. It went viral and drove about 26k of traffic on the same day with additional 16k on the following day. It was featured on 
          %a{"href"=>"http://techcrunch.com/2013/02/14/i-swear-this-is-the-last-harlem-shake-post-we-do/" ,"target"=>"_blank"}Techcrunch, 
          %a{"href"=>"http://www.huffingtonpost.com/jason-gilbert/harlem-shake-bookmarklet-_b_2687818.html" ,"target"=>"_blank"}The Hufftington Post, 
          %a{"href"=>"https://news.ycombinator.com/item?id=5219782" ,"target"=>"_blank"}Hacker News, 
          %a{"href"=>"http://www.reddit.com/r/web_design/comments/18v0cg/this_website_does_the_harlem_shake_how_up_up_down/" ,"target"=>"_blank"}Reddit 
          and others. 
    #harlemshake_video
      #ytplayer


%article.slide.slide_6.cover_page_slide
  .inner_slide_container
    .cover_container
      %ul
        / %li.first
        /   %span.c_1.header.animate_fade_base.animate_fade_right
        /     %span.icon.conclusion_icon
        /     %span.text Conclusion
        /   %span.body.animate_fade_base.animate_fade_right.animate_seq_1
            
        %li.second
          %span.c_2.header.animate_fade_base.animate_fade_right.animate_seq_2
            %span.icon.learnings_icon
            %span.text Learnings & Footnotes:
          %span.body.animate_fade_base.animate_fade_right.animate_seq_3
            At Moovweb I became a multi-disciplinary designer with production level coding experience and knowledge. I gained a tremendous amount of insights on how design can influences different parts of a business. And how important of a role design plays in the company's overall culture. 
            %br
            %br
            Thankful for all the great people I worked with and credits to my team for making all of this possible: Moly Yim, Sarah Rudder, Bruce Sullivan and Melanie Pavao.