---
title: SFMOMA &middot; Omar Jalalzada &middot; Digital Product Designer
---


=partial"partials/project_navigation", :locals => { :active_class => "sfmoma"}

%article.slide.slide_1
  .inner_slide_container
    .art_work_sfmoma
      .art_work_holder.animate_fade_base.animate_fade_left.animate_seq_1
      .ipad_holder.animate_fade_base.animate_fade_right

    .attribution
      Alexander Calder, Double Gong, 1953; metal and paint; The Doris and Donald Fisher Collection at SFMOMA; © 2010 Calder Foundation, New York/Artists Rights Society (ARS), New York; photo: Ian Reeves | Image Credit: sfmoma.org



%article.slide.slide_2.cover_page_slide
  .inner_slide_container
    .cover_container
      %ul
        %li.first
          %span.c_1.header.animate_fade_base.animate_fade_right
            %span.icon.project_icon
            %span.text About the project:
          %span.body.animate_fade_base.animate_fade_right.animate_seq_1
            Create an adaptive micro-site to describe and celebrate the new 
            %b San Francisco Museum Of Modern Art. 
            It should translate and highlight particular elements within the museum's transformational story and take the user on a digital journey.
        %li.second
          %span.c_2.header.animate_fade_base.animate_fade_right.animate_seq_2
            %span.icon.role_icon
            %span.text My Role:
          %span.body.animate_fade_base.animate_fade_right.animate_seq_3
            As the lead product designer, I collaborated with the Head of Digital and Art Director from SFMOMA. After the initial product and market research phase, I created the IA, wireframes and prototyped multiple art directions with After Effect and Invision. Later on I used Illustrator and Sketch to wrap it up.

            
    
%article.slide.slide_3.three_circles_h_P
  .inner_slide_container
    .slide_title_container
      %h3.slide_title
        The Process
    %ul
      %li
        %a.anchor_container.fancybox-thumb{"href"=>"images/sfmoma/process/ia.png",  "rel"=>"fancybox-thumb-sfmoma-process", "title"=>"Information Architicture" }
          .circle.c1.animate_fade_base.animate_fade_up
          .text_container.animate_fade_base.animate_fade_up.animate_seq_1
            .title Information architicture
            .text
              %b Gathered information 
              from all the stakeholders to design an 
              %b IA 
              that engages the user for further exploration. 
      %li
        %a.fancybox-thumb{"href"=>"images/sfmoma/process/wires_iteration.png",  "rel"=>"fancybox-thumb-sfmoma-process", "title"=>"Wires and Iterations" }
        %a.anchor_container.fancybox-thumb{"href"=>"images/sfmoma/process/wires.png",  "rel"=>"fancybox-thumb-sfmoma-process", "title"=>"Wireframing Prototypes" }
          .circle.c2.animate_fade_base.animate_fade_up.animate_seq_1
            .info_icon
              .inner_circle
                .dot
                .line
          .text_container.animate_fade_base.animate_fade_down.animate_seq_2 
            .title wireframing & prototypes
            .text  
              Iterated through 
              %b multiple wireframes
              to test different navigation logic and the best scenario to utilize the great imagery from SFMOMA.
      %li
        %a.anchor_container.fancybox-thumb{"href"=>"images/sfmoma/process/guideline.png",  "rel"=>"fancybox-thumb-sfmoma-process", "title"=>"Design Guidelines" }
          .circle.c3.animate_fade_base.animate_fade_up.animate_seq_3
          .text_container.animate_fade_base.animate_fade_down.animate_seq_3 
            .title design guidelines
            .text 
              Created a 
              %b design guideline 
              to facilitate the designer -> dev communication and provide a framework for additional changes in the future.

%article.slide.slide_4
  .inner_slide_container 
    .slide_title_container.max_600
      %h3.slide_title
        Homepage Intro
        %span.sub_slide_title Prototyped in After Effects
    #sfmoma_intro_video
      #ytplayer
 
 
%article.slide.slide_5
  .inner_slide_container 
    %a.fancybox-thumb.main_thumb{"href"=>"images/sfmoma/designs/1_homepage.jpg",  "rel"=>"fancybox-thumb-desktop", "title"=>"Landing Page" }
      .browser
        .info_icon
          .inner_circle
            .dot
            .line
    %a.fancybox-thumb{"href"=>"images/sfmoma/designs/2_building_landing.jpg",  "rel"=>"fancybox-thumb-desktop", "title"=>"Building Category's Landing Page" }
    %a.fancybox-thumb{"href"=>"images/sfmoma/designs/3_building_inside.jpg",  "rel"=>"fancybox-thumb-desktop", "title"=>"Inside the building slideshow" }
    %a.fancybox-thumb{"href"=>"images/sfmoma/designs/4_building_inside_navopen.jpg",  "rel"=>"fancybox-thumb-desktop", "title"=>"Navigation on hover" }
    %a.fancybox-thumb{"href"=>"images/sfmoma/designs/5_building_inside_galleryopen.jpg",  "rel"=>"fancybox-thumb-desktop", "title"=>"Gallery view" }
    %a.fancybox-thumb{"href"=>"images/sfmoma/designs/6_get_involved.jpg",  "rel"=>"fancybox-thumb-desktop", "title"=>"Get Involved" }



%article.slide.slide_6.cover_page_slide
  .inner_slide_container
    .cover_container
      %ul
        %li.first
          %span.c_1.header.animate_fade_base.animate_fade_right
            %span.icon.conclusion_icon
            %span.text Conclusion
          %span.body.animate_fade_base.animate_fade_right.animate_seq_1
            The
            %a{"href"=>"http://future.sfmoma.org/", "target"=>"_blank"}site went live
            immediately after launch and it was very well received by all the SFMOMA stakeholders. We noticed great increases on visitors and engagements by the site users.
            
        %li.second
          %span.c_2.header.animate_fade_base.animate_fade_right.animate_seq_2 
            %span.icon.learnings_icon
            %span.text Learnings & Footnotes:
          %span.body.animate_fade_base.animate_fade_right.animate_seq_3
            Client education matters, a project needs be bundled properly with the right set of documents to facilitate any future updates from the client. We managed to patch it up by co-working with the client post launch but a great lesson learned. 
            %br
            %br
            Thanks to Kier Winesmith and Bosco Hernandez for all their support. 






