---
title: Project Summary &middot; Omar Jalalzada &middot; Digital Product Designer
---

#portfolio_summary
  .inner_container
    .row.r1
      =link_to '/', :class =>'project_links link_bank' do
        .icon
        .text Back to Bio
      =link_to '/projects/macys_bloomingdales.html', :class =>'project_links' do
        .icon
        .text iOS App | Macys
      =link_to '/projects/sfmoma.html', :class =>'project_links' do
        .icon
        .text Adaptive Site | SFMOMA
    .row.r2
      =link_to '/projects/arc.html', :class =>'project_links' do
        .icon
        .text Al Jazeera Hackathon | Arc
      =link_to '/projects/afv.html', :class =>'project_links' do
        .icon
        .text Android App | AFV
      =link_to '/projects/moovweb.html', :class =>'project_links' do
        .icon
        .text Branding | Moovweb
  


// = partial(:paypal_donate_button, :locals => { :amount => 2, :amount_text => "Pay $2" })