.projects_afv
  .slide_1
    .inner_slide_container
      .nexus_container
        overflow: hidden
        max-width: 600px
        margin: 0 auto
        .nexus_android_container
          width: 310px
          height: 515px
          float: left
          +background-image(image-url("afv/afv_home.png"))
          background-repeat: no-repeat
          background-size: 100%
        .text
          width: 280px
          height: 120px
          position: relative
          float: right
          margin-top: 160px
          z-index: 1
          font-style: italic
          span
            display: block
            margin: 0 0 10px 0
          .nyt_logo
            width: 120px
            height: 22px
            position: absolute
            right: 0
            bottom: 0
            +background-image(image-url("afv/nyt_logo.png"))
            background-repeat: no-repeat
            background-size: 100%
            opacity: 0.2
  

  .slide_2
    +background-image(image-url("afv/main_cover_bg.jpg"))

  .slide_3
    .inner_slide_container
      ul
        li
          .circle
            &.c1
              +background-image(image-url("afv/process/c1.png"))
            &.c2
              +background-image(image-url("afv/process/c2.png"))
  .slide_4 
    .inner_slide_container
      .phone_container
        .screen
          &.s1
            +background-image(image-url("afv/screens/0_1_onboarding.png"))
          &.s2
            +background-image(image-url("afv/screens/1_0_browse.png"))
          &.s3
            +background-image(image-url("afv/screens/1_1_browse_nav.png"))
          &.s4
            +background-image(image-url("afv/screens/3_0_kid_mode_settings.png"))

  .slide_5
    .inner_slide_container
      & > ul > li
        &.landscape
          +transform(rotate(-90deg) translateY(100px))
        &.hide
          display: none
      .phone_container
        .screen
          &.s1
            +background-image(image-url("afv/screens/7_0_Upload.png"))
          &.s2
            
            +background-image(image-url("afv/screens/2_0_player.png"))
          &.s3
            +background-image(image-url("afv/screens/2_1_player_landscape.png"))

  .slide_6
    +background-image(image-url("afv/end_cover_bg.jpg"))
