%nav{:class => "#{active_class} project_navigtaion_container"} 
  //.init_hover
  .icon_container
  %ul

    %li
      =link_to '/projects/macys_bloomingdales.html', :class =>'project_links macys' do
        .thumb_container
          .thumb_bottom_shadow
          .thumb_image
            .macys
        .text
          .dash
          .client_name Macys
          .project_name iOS App
        .hover

    %li
      =link_to '/projects/arc.html', :class =>'project_links arc' do
        .thumb_container
          .thumb_bottom_shadow
          .thumb_image
            .arc
        .text
          .dash
          .client_name Arc
          .project_name Al Jazeera Hackathon

        .hover    
  
    %li
      =link_to '/projects/afv.html', :class =>'project_links afv' do
        .thumb_container
          .thumb_bottom_shadow
          .thumb_image
            .afv
        .text
          .dash
          .client_name AFV
          .project_name Android App
        .hover

    %li
      =link_to '/', :class =>'project_links bio' do
        .thumb_container
          / .thumb_bottom_shadow
          .thumb_image
            .bio
        .text
          .dash
          .client_name Back to Bio
          / .project_name &#8592;
        .hover

    %li
      =link_to '/projects/sfmoma.html', :class =>'project_links sfmoma' do
        .thumb_container
          .thumb_bottom_shadow
          .thumb_image
            .sfmoma
        .text
          .dash
          .client_name SFMOMA
          .project_name Adaptive Site
        .hover
    %li
      =link_to '/projects/moovweb.html', :class =>'project_links moovweb' do
        .thumb_container
          .thumb_bottom_shadow
          .thumb_image
            .moovweb
        .text
          .dash
          .client_name Moovweb
          .project_name Art Direction
        .hover