---
title: Omar Jalalzada &middot; Digital Product Designer
---

%section.main_bio_page
  
  #portfolio_summary
    .inner_container
      .row.r1
        =link_to '/projects/macys_bloomingdales.html', :class =>'project_links' do
          .thumb_container
            .thumb_bottom_shadow
            .thumb_image.macys
          .text
            .dash
            .client_name Macys
            .project_name iOS App

        =link_to '/projects/arc.html', :class =>'project_links' do
          .thumb_container
            .thumb_bottom_shadow
            .thumb_image.arc
          .text
            .dash
            .client_name Arc
            .project_name Al Jazeera Hackathon

        =link_to '/projects/afv.html', :class =>'project_links' do
          .thumb_container
            .thumb_bottom_shadow
            .thumb_image.afv
          .text
            .dash
            .client_name AFV
            .project_name Android App

        =link_to '/projects/sfmoma.html', :class =>'project_links' do
          .thumb_container
            .thumb_bottom_shadow
            .thumb_image.sfmoma
          .text
            .dash
            .client_name SFMOMA
            .project_name Adaptive Site
        =link_to '/projects/moovweb.html', :class =>'project_links' do
          .thumb_container
            .thumb_bottom_shadow
            .thumb_image.moovweb
          .text
            .dash
            .client_name Moovweb
            .project_name Art Direction
        =link_to '/projects/moovweb.html', :class =>'project_links' do
          .thumb_container
            .thumb_bottom_shadow
            .thumb_image.moovweb
          .text
            .dash
            .client_name Moovweb
            .project_name Art Direction


  %article.slide.slide_1
    .inner_slide_container
      .top_bar_pattern
      .bio_content_holder
        .main_paragraph_v2
          %h1.name
            %span.first Omar
            %span.last Jalalzada
          .role
            Product Designer

        / .main_paragraph.animate_fade_base.animate_fade_right
        /   .mobile_logo
        /   %span.intro
        /     Hi, my name is 
        /     %b Omar Jalalzada 
        /     and I'm a product designer based in San Francisco, CA. 
        /   %span.spiel
        /     I practice a design process that makes better sense of things. Making things more human and relatable by focusing on the end user. 
        /   %span.spiel
        /     I'm currently looking for new opportunities and if you're trying to solve a meaningful problem, lets chat.

        /   / %span.mobile_spiel
        /   /   Mobile optimization of this site is still in progress. In order to browse my portolio visit this link on a desktop or tablet browser.
        /   /   %br

        .social_media_links
          .sm_inner

            / =link_to '/projects/summary.html', :class =>'sm_link animate_fade_base animate_fade_right portfolio_summary' do
            /   .icon
            /   .text Portfolio


            =partial"partials/project_navigation", :locals => { :active_class => "macys"}
            
            %a.sm_link.animate_fade_base.animate_fade_right.portfolio_summary{"href"=>"#", "title"=>"Portfolio", "id" => "portfolio_summary_trigger"}
              .icon
              .text Portfolio


            %a.sm_link.animate_fade_base.animate_fade_right.animate_seq_1{"href"=>"https://dribbble.com/omar___oj", "title"=>"Dribbble Profile", "target"=>"_blank"}
              .icon.dribbble
              .text Shots at Dribbble
            %a.sm_link.animate_fade_base.animate_fade_right.animate_seq_2{"href"=>"http://www.linkedin.com/in/omarjalalzada", "title"=>"Linkedin Profile", "target"=>"_blank"}
              .icon.linkedin
              .text Linkedin Profile
            %a.sm_link.animate_fade_base.animate_fade_right.animate_seq_5{"href"=>"https://medium.com/@omar_oj", "title"=>"Writings on Medium", "target"=>"_blank"}
              .icon.medium
              .text Stories at Medium             
            %a.sm_link.animate_fade_base.animate_fade_right.animate_seq_3{"href"=>"https://twitter.com/omar___oj", "title"=>"Twitter Profile", "target"=>"_blank"}
              .icon.twitter
              .text Tweets @omar___oj
            %a.sm_link.animate_fade_base.animate_fade_right.animate_seq_4{"href"=>"http://omarj.vsco.co/", "title"=>"VSCO Gallery", "target"=>"_blank"}
              .icon.vsco
              .text VSCO Grid

